.menu-circles {
  display: none;
  position: absolute;
  z-index: 2;
  right: 15px;
  top: 50%;
  width: 60px;
  height: 60px;
  transform: translate(0, -50%);
  pointer-events: none;

  .menu-circles__item {
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    border: 1px solid rgba(255,255,255,0.5);
    border-radius: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    opacity: 0;
  }
}
.site__loaded {

  .menu-circles {

    .menu-circles__item {
      -webkit-animation: pulse 5s linear 2 5s;
      animation: pulse 5s linear 2 5s;

      @for $i from 2 through 20 {

        &:nth-child( #{$i} ) {
          animation-delay: 1.666s * ($i - 1) + 5s;
        }

      }

    }
  }

}

@-webkit-keyframes pulse {
  0% {
    width: 100px;
    height: 100px;
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  90% {
    opacity: 0.7;
  }
  100% {
    opacity: 0;
    width: 600px;
    height: 600px;
  }
}
@keyframes pulse {
  0% {
    width: 100px;
    height: 100px;
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  90% {
    opacity: 0.7;
  }
  100% {
    opacity: 0;
    width: 600px;
    height: 600px;
  }
}

@media (min-width: $desktop) {

  .menu-circles {
    display: block;
    right: 35px;
  }

}
@media (min-width: $desktop-wide) {

  .menu-circles {
    width: 80px;
    height: 80px;
  }

}