.partners {
  overflow: hidden;
  position: relative;
  padding: 60px 0 0;
}
.partners__layout {
  position: relative;
  z-index: 1;
  max-width: 1425px;
  padding: 0 15px;
  margin: 0 auto;
}
.partners__inner {
}
.partners__items {
  position: relative;
  padding-bottom: 20px;
  margin: 0 auto 40px;
  max-width: 260px;
  text-align: center;

  &:after {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px;
    background: #df2c2c;
    content: '';
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    -webkit-transition: width 0.3s ease;
    transition: width 0.3s ease;
  }

  &:hover {

    &:after {
      width: 20%;
    }

    .partners__name {
      color: #df2c2c;
    }

  }

}
.partners__name {
  margin: 0 0 30px;
  font-size: 24px;
  line-height: 28px;
  @include main-font4();
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}
.partners__logo {

  img {
    width: 100%;
    height: auto;
  }

}

@media (min-width: $desktop) {

  .partners {
    padding: 90px 0;
    min-height: 500px;
    text-align: left;

    .site__title {
      margin: 0 0 64px;
      pointer-events: auto;
    }

  }
  .partners__layout {
    padding: 0 35px;
  }
  .partners__inner {
    @include flexbox();
    @include flex-wrap(wrap);
    @include flex-direction(row);
    @include align-items(flex-start);
    @include justify-content(space-between);

    >div {
      width: 33.333%;
      padding: 0 10px;
    }

  }

}
@media (min-width: $desktop-wide) {

  .partners {
    padding: 110px 0 125px;
  }
  .partners__inner {

    >div {

    }

  }

}

