.prices {
  overflow: hidden;
  position: relative;
  padding: 160px 0 60px;
  background: #f0f0f8;
  text-align: center;
}
.prices__layout {
  position: relative;
  max-width: 1570px;
  padding: 0 15px;
  margin: 0 auto;
}
.prices__inner {
  @include flexbox();
  @include flex-wrap(wrap);
  @include flex-direction(row);
  @include align-items(flex-start);
  @include justify-content(flex-start);
  padding: 0 0 40px;

  >div {
    width: 100%;
  }
}
.prices__items {
  display: block;
  padding: 39px 20px;
  margin: 0 auto 40px;
  background: #fff;
  width: 100%;
  max-width: 260px;
  color: #262626;
  text-align: center;
  -webkit-transition: box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease;

  &:hover {
    box-shadow: 0 0 15px 2px rgba(0,0,0,0.05);

    .prices__from {

      span {
        color: #df2c2c;
      }

    }
    .btn_2 {
      width: 195px;
      padding: 0 20px 0 62px;
      color: #010101;

      &:before {
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
      }
      svg {
        left: 33px;
      }
      span {
        opacity: 1;
        visibility: visible;
      }

      &:hover {
        color: #fff;
        border-color: #df2c2c;

        svg {
          fill: #fff;
        }

        &:before {
          -webkit-transform: scaleX(1);
          transform: scaleX(1);
          background: #df2c2c;
        }

      }

    }

  }

}
.prices__type {
  padding-top: 46px;
  margin: 0 0 12px;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 46px auto;
}
.prices__type-title {
  font-size: 20px;
  line-height: 20px;
  @include main-font3();
}
.prices__chambres {
  display: block;
  min-height: 56px;
  margin: 0 0 14px;
  font-size: 16px;
  line-height: 16px;

  sup {
    font-size: 12px;
    line-height: 12px;
  }

}
.prices__from {
  display: block;
  margin: 0 0 48px;
  font-size: 20px;
  line-height: 26px;

  span {
    display: block;
    @include main-font3();
    -webkit-transition: color 0.3s ease;
    transition: color 0.3s ease;
  }

}

@media (min-width: $desktop) {

  .prices {
    padding: 90px 0;

    .site__title {
      margin: 0 0 64px;
    }

  }
  .prices__layout {
    padding: 0 35px;
  }
  .prices__inner {
    padding: 45px 0 19px;

    >div {
      width: 20%;
      padding: 0 5px;
    }
  }
  .prices__items {
    margin: 0 auto 60px;
  }

}
@media (min-width: $desktop-wide) {

  .prices {
    padding: 120px 0;
  }
  .prices__inner {

    >div {
      width: 20%;
      padding: 0;
    }
  }
  .prices__type-title {
    font-size: 30px;
    line-height: 30px;
  }
  .prices__chambres {
    font-size: 20px;
    line-height: 20px;
  }
  .prices__from {
    font-size: 24px;
    line-height: 33px;
  }

}

